
body {
  margin: 0px;
  background-color: #a461f6;
  min-width: 250px;
}

.container {
  position: absolute;
  top: 130px;
  left: 480px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 14px;
  width: 399px;
  height: 450px;
  text-align: center;
  /* justify-content: center; */
}

#inputfield {
  margin: auto;
  padding: 20px 5px;
  /* border: 2px solid blue; */
  height: 80px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  
}
#inputfield button.active {
  opacity: 1;
  pointer-events: auto;
  background-color: red;
}

#inputfield input {
  margin: 15px 4px;
  font-size: 25px;
  padding: 4px 8px;
}
#inputfield button {
  font-size: 30px;
  font-weight: bold;
  padding: 1px 8px;
  background-color: #a461f6;
  border-radius: 4px;
  /* text-align: right; */
  
}


#error{
  color: red;
  
  
}
ul {
  margin: 0;
  padding: 0;
}

ul li{
  position: relative;
  list-style: none;
  padding: 10px 13px;
  height: 20px;
  width: 375px;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 20px;
  text-align: left;
}

.close {
  position: absolute;
  right: 12px;
  top: 6px;
  padding: 4px 5px 4px 5px;
  margin: auto;
  
}

/* .close {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 12px 16px 12px 16px;
  
  } */

.close:hover {
  background-color: #f44336;
  color: white;
  font-size: 15px;
}